@inherits LayoutComponentBase
<PageTitle>Used Phones Web Shop</PageTitle>

<div class="page">
    <!-- Sivupalkki, joka sisältää navigointivalikon -->
    <div class="sidebar">
        <NavMenu /> <!-- Sisältää Register- ja Login-linkit -->
    </div>

    <!-- Pääsisältöalue -->
    <main>

        <!-- Näyttää sisällön, joka määritetään kunkin sivun @Body:llä -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
